doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/home_style.css')
    link(rel="shortcut icon" href="/images/sfsu.jpg" type="image/jpg")
  

  title= title

  body
  .container
    .main-content

       block content
  