doctype html
html
  head
    meta(charset='utf-8')
    | &#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    | &#x9;
    script(src='https://code.jquery.com/jquery-3.2.1.js', integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=', crossorigin='anonymous')
    | &#x9;
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    | &#x9;
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    | &#x9;
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    | &#x9;
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    | &#x9;
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    |     
    // Load Header and Footer
    script.
      $(function() {
      $("#header").load("header");
      $("#footer").load("footer");
      });
    | &#x9;
    | &#x9;
    style.
      #background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/6b/A._S._Bradford_House.JPG');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      opacity: 0.2;
      filter:alpha(opacity=40);
      z-index: -1;
      }
      ul {list-style:none;}
      #message {margin-top:15%;}      
      .panel-body {
      padding-top: 10px;
      }
      #deleteButton {
      margin: 1%;
      }
      #deleteButton:hover  {
      background-color: red;
      }
      .content {
      margin-top: 150px;
      }
    | &#x9;
    | &#x9;
    title RECycle
  | &#x9;
  body
    // Background
    #background
    // Header
    #header
    | &#x9;&#x9;
    .container-fluid
      .content
     #message 
      ul.nav.nav-pills.nav-stacked.col-md-2
        li.active
          a(href='#tab_a', data-toggle='pill') New Mail
        | &#x9;&#x9;&#x9;  
        li
          a(href='#tab_b', data-toggle='pill') Send a Message
      | &#x9;&#x9;&#x9;
      .tab-content.col-md-10
        // Send Mail Tab
        #tab_a.tab-pane.active
          .panel.panel-primary(style='width: 100%;')
            .panel-heading
              h3.panel-title New Mail
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;   
            .panel-body
              .form-group
                table#NewMails.dashboard
                  tr.header
                    th(style='width:40%;') From
                    th(style='width:50%;') Message
                    |  
                    th(style='width:30%;') Subject
                    |  
                    th(style='width:20%;') Date
                    |  
                    th(style='width:5px;')  
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  tr
                   - each item in rows

                      td #{item.bname}
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      td #{item.messages}
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      td #{item.vphone}
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      td 11/21/17 
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      td
                        button#deleteButton.btn.btn-default.btn-sm(type='button')
                          span.glyphicon.glyphicon-minus
                
        // New Mail Tab
        #tab_b.tab-pane
          #tab_a.tab-pane.active
            .panel.panel-primary(style='width: 60%;')
              .panel-heading
                h3.panel-title Send a mail
              | &#x9;&#x9;&#x9;&#x9;&#x9;   
              .panel-body
                .form-group
                  label(for='subject') Subject:
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  input#subject.form-control(style='width: 80%;', type='text')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  form
                    .form-group
                      label(for='message') Message:
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      textarea#message.form-control(style='width: 80%;', rows='5')
            
      // tab content
    // end of container
      // Footer
    #footer  
