extends layout

block content
  
  ul
      li
        a(href='Jeremy.js') Jeremy
      |   
      li
        a(href='Kachi.js') Kachi
      |   
      li
        a(href='Risha.js') Risha
      |   
      li
        a(href='Parker.js') Parker
      
      |
      li
        a(href='index.jade') Sabiha


    
   


