html
  body
    .form-group
      form#formview(action='results', method='POST')
        | Star Wars Episode IV DVD ($20) 
        button.add-button(type='submit') Add to Cart!
        br
        |   	Star Wars Episode V DVD ($20) 
        button.add-button(type='submit') Add to Cart!
